<h1 class="title">🍞 Artículos - Tienda</h1>

<!-- Botón para mostrar/ocultar filtros -->
<button id="toggle-filters" class="toggle-button">Filtros ☰</button>

<div class="shop-container">
    <!-- Sidebar de filtros -->
    <aside id="filter-sidebar" class="filter-sidebar">
        <h2>Filtros</h2>
        <form action="/products" method="GET" class="filter-form">
            <label for="category">Categoría:</label>
            <select name="category" id="category">
                <option value="">Todas</option>
                <option value="Tortas">Tortas</option>
                <option value="Bocaditos">Bocaditos</option>
                <option value="Galletas">Galletas</option>
                <option value="Postres">Postres</option>
            </select>

            <label for="status">Estado:</label>
            <select name="status" id="status">
                <option value="true">Todos</option>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>

            <label for="sort">Ordenar por precio:</label>
            <select name="sort" id="sort">
                <option value="asc">Sin orden</option>
                <option value="asc">Menor a mayor</option>
                <option value="desc">Mayor a menor</option>
            </select>

            <button type="submit" class="filter-button">Filtrar</button>
        </form>
    </aside>

    <!-- Contenedor de productos -->
    <div class="product-container">
        {{#each productos}}
        <div class="product-card" data-id="{{this._id}}">
            <div class="product-image-container">
                <img src="{{this.thumbnails}}" alt="{{this.title}}" class="product-image" />
            </div>
            <div class="product-content">
                <div class="product-header">
                    <p class="product-title">{{this.title}}</p>
                    <p class="product-price">s/. {{this.price}}</p>
                </div>
                <p class="product-description">
                    {{this.description}}
                </p>
            </div>
            
        </div>
        {{/each}}
    </div>
</div>

<!-- Paginación -->
<div class="pagination">
    <p>Página {{pagination.currentPage}} de {{pagination.totalPages}}</p>
    
    <div class="pagination-buttons">
        {{#if pagination.hasPrevPage}}
            <a href="?page={{pagination.prevPage}}&limit={{pagination.limit}}" class="btn">Anterior</a>
        {{/if}}

        {{#if pagination.hasNextPage}}
            <a href="?page={{pagination.nextPage}}&limit={{pagination.limit}}" class="btn">Siguiente</a>
        {{/if}}
    </div>
</div>

<script src="/js/scripts_index.js">
    
</script>
